body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  }
.navigation-link {
  font-szie: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  }

.navigation-link:hover {
  font-size: 14px;
  font-family: inherit;
  color: #81b3d2;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.copyright a {
  list-style: none;
  color: #000000;
}

.main__titile h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main__titile p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;

}

.features-item p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;

}
.form_search h1 {
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}
.form_search p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

a.nav__link--active {
  color: #766357;
}

section.white,
div.main__titile,
div.form_search,
.page-footer {
  background-color: #ffffff;
}

.form_holder {
  background-color: #ffffff;
  width: 568px;
  height: 395px;
}

div.blue {
  color: #ffffff;
  background-color: #81b3d2;
}

section.features-alt {
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.socials,
.hotel__rating {
  list-style: none;
}

button.search-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  width: 568px;
  height: 86px;
  font-weight: 700;
  text-align: center;
  background-color: #766357;
  border: none;
}

button.search-btn:hover {
  background-color: #604e43;
}

button.search-btn:focus {
  background-color: #503e33;
  color: #857871;
}

.search-btn button.search {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  width: 458px;
  height: 58px;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  border-style: none;
}
.search-btn button.search:hover {
  background-color: #669ec0;
}
.search-btn button.search:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

}
p.date input {
  font: inherit;
  background-color: #f2f2f2;
  text-align: left;
  padding-left: 10px;
  color: #000000;
  width: 346px;
  height: 38px; /*высота строки ввода*/
  font-size: 14px; /*размер шрифта*/
  font-weight: 700;
  border: 2px solid #f2f2f2;
}
p.date input::placeholder {
  color:#000000;
  text-align: left;
  padding-left: 10px;
}

.number input {
  font: inherit;
  background-color: #f2f2f2;
  text-align: center;
  color: #000000;
  width: 38px;
  height: 38px; /*высота строки ввода*/
  font-size: 14px; /*размер шрифта*/
  font-weight: 700;
  border: 2px solid #f2f2f2;
}
.number input::placeholder {
  color:#000000;
  text-align: center;
}
.number input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
  }

.number input:focus {
      background-color: #ffffff;
      border: 2px solid #e5e5e5;
    }


.arrows {
  margin: 0;
  padding: 0
}

.container {
  width: 1200px;
  margin: 0 auto;
}


.main-header {
  background: rgb(255, 255, 255);
}

.up {
  padding: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #007bff transparent transparent transparent;
}

.up:hover {
  border-color: red transparent transparent transparent;
}


.down {
  padding: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #007bff transparent;
}

.down.active {
  border-color: transparent transparent red transparent;
}


.visually-hidden {
  display: none;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.twitter, .youtube, .facebook {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgb(129, 179, 0);
}

.twitter:link, .youtube:link, .facebook:link {
  background: rgb(129, 179, 210);
}

.twitter:hover, .youtube:hover, .facebook:hover {
  background: rgb(102, 158, 192);
}

.twitter:visited, .youtube:visited, .facebook:visited {
  background: rgb(84, 150, 189);
}

.search-form {
  background: url('../img/filter_bg.png');
}
