body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
}
.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

/*HEADER*/
.main-header {
  background: #ffffff;
  position: relative;
  }
/***********************/
.main-header-logo {
  position: absolute;
  top: 0;
  left: 532px;
  width: 138px;
  height: 70px;
}

.main-navigation {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  }

.main-navigation li {
  width: 239px;
  height: 56px;
  text-transform: uppercase;
  text-align: center;
  line-height: 56px;
}
.main-navigation li:nth-child(2) {
  margin-right: auto;
}

.main-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}
/***********************/

/*Выравниваем "СЕДОНА-НЕБЕЛЬНШОЙ ГОРОДОК"*/
.main__titile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 216px;
  margin-top: -5px;
}

/*Выравниваем "НАСТОЯЩИЙ ГОРОДОК №1"*/
.features-item {
  display: flex;
  flex-flow: nowrap;
  /*border: 1px solid red;*/
}

.features-item .blue {
  width: 400px;
  height: 256px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  /*border: 1px solid red;*/
}

.features-item .blue_img {
  width: 800px;
  min-height: 256px;
  /*border: 1px solid red;*/
}

/*Выравниваем "ЖИЛЬЕ ... ЕДА ... СУВЕНИРЫ"*/
.features-item .white {
  display:flex;
  margin-top: -5px;
}

.features-item .white_icon {
  width: 400px;
  min-height: 330px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 50px;
}

.icon {
  height: 75px;
  margin-bottom: 30px;
}

/*Выравниваем "№3 ... №4 ... №5"*/
.features-item .features-alt {
  min-height: 256px;
  display:flex;
  }

.features-item .features-advantage {
  width: 400px;
  min-height: 170px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 50px;
  box-sizing: border-box;
  /*border: 1px solid green;*/
}

.features-advantage h3 {
  box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  /*border: 1px solid black;*/
}

.features-advantage p {
  /*border: 1px solid red;*/
  margin-top: -5px;
}

/*Выравниваем "ЗАИНТЕРЕСОВАЛИСЬ?"*/
.form_search {
  height: 290px;
  display:flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 380px;
  padding-right: 380px;
  box-sizing: border-box;
}

/*Выравниваем "КАРТу"*/
.map {
  display:flex;
  margin-bottom: -120px;
}

/*Выравниваем "ФОРМу ПОИСКа"*/
.form_holder {
  /*margin: 80px auto;*/
  margin: -679px auto;
  position: relative;
  min-height: 481px;
  box-shadow: 0px 0px 10px black;
  }
form.search-btn {
  width: 568px;
  min-height: 395px;
  padding-left: 20px;
  /*position: fixed;*/
  }

/* Выравнтваем секцию в каталоге "НАЙДЕНО"*/
.sorting_filter {
  display: flex;
  flex-wrap: nowrap;
  height: 85px;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}
.sorting_filter span {
  margin-left: 5px;
}

.sorting_search {
  width: 135px;
  display: flex;
  align-items: center;
}

.sorting {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 365px;
}

.up-down {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 530px;
}
.up {
  margin-right: 12px;
}

/*Выравниваем секцию в Каталоге "ФИЛЬТРЫ"*/
.filter-form {
  display: flex;
  flex-wrap: nowrap;
  /*height: 217px;*/
}

.infrast {
  margin-left: -25px;
  /*outline: 1px solid yellow;*/
}

.type {
  margin-left: 70px;
  /*outline: 1px solid yellow;*/
}

div.filter-price-form {
   /*border: 1px solid #17F762;*/
    margin-left: 255px;
}


/*Выравниваем секцию в каталоге "КАТАЛОГ ОТЕЛЕЙ"*/
.hotel_catalog {
  padding-left: 70px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  min-height: 150px;
  justify-content: flex-start;
  /*border: 1px solid black;*/

}
.hotel__img {
  /*border: 1px solid yellow;*/
}

div.hotel__desc {
  width: 335px;
  height: 90px;
  display: inline-table;
  justify-content: flex-start;
  margin-left: 30px;
  /*padding-left: 30px*/
  /*border: 1px solid red;*/

}
.hotel__desc h4 {
  margin-top: -5px;
  margin-bottom: -5px;
  /*border: 1px solid blue;*/
}

.hotel__desc_info {
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid blue;*/
}
.hotel__info {
  margin-right: 6px;
  /*border: 1px solid red;*/
}
.hotel__book {
  margin: none;
  /*border: 1px solid red;*/
}

.hotel__info p {
  padding: 0;
  margin-bottom: 10px;
 /*border: 1px solid green;*/
}

.hotel__book p {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 10px;
  /*border: 1px solid black;*/
}




/*
div.hotel__book {

 border: 1px solid grey;
}*/

/*Сетка рейтинга ОТЕЛЕЙ*/
.hotel__rating {
 width: 520px;
 height: 90px;
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 margin-left: 40px;
 /*border: 1px solid green;*/
}

.hotel__rating ul {
 width: 110px;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: flex-start;
 margin-left: 375px;
 margin-top: 0px;
 /*border: 1px solid blue;*/
}

div.hotel__rating_number {
  margin-left: 409px;
  /*display: flex;
  justify-content: center;
  border: 1px solid blue;*/
}

.star__active {
  margin-left: 5px;
}

/*Выравниваем "FOOTER"*/
.page-footer {
  display: flex;
  /*padding: 40px 0;*/
  justify-content: space-around;
  position: relative;
  box-sizing: border-box;
  height: 120px;
  /*border: 1px solid indigo;*/
  }

.info {
  margin: 0;
  padding: 10px 58px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid SlateGray;*/
}

.socials {
  display: flex;
  width: 400px;
  align-items: center;
  /*border: 1px solid red;*/
}

ul.socials {
  display: flex;
  align-items: center;
  padding-left: 90px;
  /*border: 1px solid blue;*/
}
.copyright {
  margin-right: 30px;
  width: 240px;
  display: flex;
  align-items: center;
  /*border: 1px solid green;*/
}
.copyright-from {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  margin-top: -10px;
  margin-right: 5px;
  /*border: 1px solid green;*/
}

.copyright a {
  /*border: 1px solid blue;*/
}

.facebook {
  margin-left: 6px;
  margin-right: 6px;
}

.twitter, .youtube, .facebook {
  width: 46px;
  height: 48px;
  display:flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid black;*/
}

.navigation-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  }

.navigation-link:hover {
  font-size: 14px;
  font-family: inherit;
  color: #81b3d2;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.copyright a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  list-style: none;
  color: #000000;
}

.main__titile h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main__titile p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.icon {
  background-position: 162px 60px;
}

.features-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features-item p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;

}
.form_search h1 {
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.form_search p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

a.nav__link--active {
  color: #766357;
}

.infrast legend,
.type legend,
.range legend {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}


/*Задаем цвет фона*/
section.white,
div.main__titile,
div.form_search,
.page-footer .container,
.sorting_filter,
.hotel_catalog,
.hotel__rating {
  background-color: #ffffff;
}

/*Секция "Там есть мост дьявола №2"*/
div.blue {
  color: #ffffff;
  background-color: #81b3d2;
}
/*Секция "Небольшая площадь №3...№4...№5..."*/
section.features-alt {
  color: #000000;
  background-color: #eeeeee;
}

/*Скрываем маркеры в списках*/
.site-navigation,
.socials,
.hotel__rating,
.filter-option,
.sorting,
.up-down,
.date,
.number,
.search_form {
  list-style: none;
}

/*Форма по поиску гостиницы"*/
.form_holder {
  font-size: 14px;
  line-height: 26px;
  width: 568px;
  height: 481px;
  font-weight: bold;
  background-color: #ffffff;
}

/*Кнопка "Поиск гостиницы в Седоне"*/
button.search-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  width: 568px;
  height: 86px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

button.search-btn:hover {
  background-color: #604e43;
}

button.search-btn:focus {
  background-color: #503e33;
  color: #857871;
}

/*Кнопка "НАЙТИ"*/
ul.search_form input.search_form {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  width: 458px;
  height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2;
  border-style: none;
}
ul.search_form input.search_form:hover {
  background-color: #669ec0;
}
ul.search_form input.search_form:focus {
  background-color: #5496bd;
  color: #88b6d1;
}
/*"Дата заезда" и "Дата выезда"*/
}
.date input::placeholder {
  font: inherit;
  color:#000000;
  text-align: left;
  text-transform: uppercase;
  padding-left: 10px;
}
.date input {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 338px 8px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  width: 346px;
  height: 38px; /*высота строки ввода*/
  font-size: 14px; /*размер шрифта*/
  font-weight: 700;
  border: 2px solid #f2f2f2;
  }
.date input:hover {
  background-color: #ebebeb;
  color: #000000;
  border: 2px solid #ebebeb;
  }
.date input:focus {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e5e5e5;
  }

/*кнопки формы поиска "Взрослые" и "Дети"*/
.number input::placeholder {
  font: inherit;
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  }

.number input {
  font: inherit;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 38px;
  height: 38px; /*высота строки ввода*/
  font-size: 14px; /*размер шрифта*/
  font-weight: 700;
  border: 2px solid #f2f2f2;
  }

.number input:hover {
  background-color: #ebebeb;
  color: #000000;
  border: 2px solid #ebebeb;
 }

.number input:focus {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e5e5e5;
  }

/*кнопки "+" и "-"*/
.number button {
  font: inherit;
  background-color: #f2f2f2;
  text-align: center;
  color: #a9a9a9;
  width: 42px;
  height: 42px; /*высота строки ввода*/
  font-size: 21px; /*размер шрифта*/
  font-weight: 700;
  border: 2px solid #f2f2f2;
  }

.number button:hover {
  background-color: #ebebeb;
  color: #000000;
  border: 2px solid #ebebeb;
  }

.number button:focus {
  background-color: #ffffff;
  color: #81b3d2;
  border: 2px solid #ebebeb;
  }

/*СОРТИРОВКА в каталоге*/
.sorting {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}

.sorting_price.active {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #81b3d2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  }

.sorting_type,
.sorting_rating {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #cacaca;
  border: none;
  border-bottom: 1px dashed #81b3d2;
  background-color: transparent;
  cursor: pointer;
}

.sorting_type:hover,
.sorting_rating:hover {
  color: #81b3d2;
  }

.sorting_type:focus,
.sorting_rating:focus {
  color: #000000;
  border: none;
}



/*Стрелки "Вверх" и "Вниз" в каталоге*/
/*Стрелка "ВВЕРХ"*/
.up {
  padding: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #cacaca transparent;
  background-color: #ffffff;
 }

 .up:hover {
  border-color: transparent transparent #231f20 transparent;
  }

.up:focus {
  border-color: transparent transparent #81b3d2 transparent;
  }

/*
.up.active {
  border-color: transparent transparent #81b3d2 transparent;
 }*/

 /*Стрелка "ВНИЗ"*/
 .down {
   padding: 0px;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 10px 5px 0 5px;
   border-color: #cacaca transparent transparent transparent;
   background-color: #ffffff;
   }
/*
 .down:hover {
   border-color: #231f20 transparent transparent transparent;
   }

 .down:focus {
   border-color: #81b3d2 transparent transparent transparent;
   }
*/
 .down.active {
     border-color: #81b3d2 transparent transparent transparent;
     }

/*КАТАЛОГ Отелей в каталоге*/
.hotel_catalog {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  }

div.hotel__rating {
  background-color: #ffffff;
}

/*Рейтинг отелей*/
.hotel__rating_number {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  width: 110px;
  height: 22px;
  color: #666666;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  padding: 3px 5px;
}

/*"Гостиница от .....р."*/
.hotel__desc p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
}

.hotel_name {
  display: block;
  padding: 0 auto;
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin-left: -5px;
}

.hotel_name:hover {
  color: #abcce1;
}

.hotel_name:focus {
  color: #b2b2b2;
  cursor: pointer;
}

/*кнопка "Подробнее" в каталоге*/
.more_info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /*padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;*/

}

.more_info:hover {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #669ec0;
}

.more_info:focus {
  font-family: "PT Sans", Arial, sans-serif;
  color: #88b6d1;
  background-color: #5496bd;
}

/*кнопка "Забронировать" в каталоге*/
.book {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
  width: 142px;
  height: 27px;
  background-color: #766357;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /*padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;*/

}
.book:hover {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #604e43;
}

.book:focus {
  font-family: "PT Sans", Arial, sans-serif;
  color: #857871;
  background-color: #503e33;
}

/*Скрываем надписи*/
.visually-hidden {
  display: none;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

/*СОЦСЕТИ*/
.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.twitter:link,
.youtube:link,
.facebook:link {
  background: #81b3d2;
}

.twitter:hover,
.youtube:hover,
.facebook:hover {
  background: #669ec0;
}

.twitter:focus path,
.youtube:focus path,
.facebook:focus path {
  fill: #88b6d1;
  background: #5496bd;
}
.copyright a {
  width: 115px;
  height: 41px;
}
.copyright a:hover  path {
  fill: #81b3d2;
}
.copyright a:focus  path {
  fill: #bdbbbc;
}

/*ФИЛЬТРЫ в каталоге(подключаем фон)*/
/*.form__holder,*/
section.filter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: url('../img/filter_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 30px;
  padding-right: 73px;
  padding-left: 73px;
  /*padding-bottom: 29px;*/
}

/*ФИЛЬТРЫ*/
legend {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.infrast,
fieldset.type {
  border: 0 none;
}

.filter-option,
.min-price,
.max-price    {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 28px;
}

.filter label {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  padding-left: 40px;
}

.filter-option label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 6px;
  width: 16px;
  height: 8px;
  border: 4px solid #ffffff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
input[type="checkbox"]:disabled ~ label::before,
input[type="checkbox"]:disabled ~ label::after {
  border-color: #787676;
}

.filter-price-form {
  width: 330px;
  margin: 50px auto;
}

.show-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter-range {
  width: 314px;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  padding: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
/*.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding: 0;
  padding-left: 65px;
}*/

.price-controls {
  position: relative;
  height: 36px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  padding-left: 5px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
/* ==================== */
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  width: 314px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
