body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  }
.site-navigation {
  list-style: none;
}

.site-navigation a {
  list-style: none;
  color: #000000;
}

.main__titile h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.main__titile p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features-item p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

a.nav__link--active {
  color: #766357;
}

div.blue {
  color: #ffffff;
  background-color: #81b3d2;
}

section.features-alt {
  color: #000000;
  background-color: #eeeeee;
}


ul {
  list-style-type: none;
}

.arrows {
  margin: 0;
  padding: 0
}

.container {
  width: 1200px;
  margin: 0 auto;
}


.main-header {
  background: rgb(255, 255, 255);
}

.up {
  padding: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #007bff transparent transparent transparent;
}

.up:hover {
  border-color: red transparent transparent transparent;
}


.down {
  padding: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #007bff transparent;
}

.down.active {
  border-color: transparent transparent red transparent;
}


.visually-hidden {
  display: none;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.twitter, .youtube, .facebook {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgb(129, 179, 0);
}

.twitter:link, .youtube:link, .facebook:link {
  background: rgb(129, 179, 210);
}

.twitter:hover, .youtube:hover, .facebook:hover {
  background: rgb(102, 158, 192);
}

.twitter:visited, .youtube:visited, .facebook:visited {
  background: rgb(84, 150, 189);
}

.search-form {
  background: url('../img/filter_bg.png');
}
